.todoList__list__todo {
    text-align: left;
    border: 2px solid lavender;
    border-radius: 4px;
    padding: 15px;
    display: grid;
    grid-template-columns: 20fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
}

.todoList__list__todoDone {
    border-color: greenyellow;
}

.todoList__list__todoDone span {
    color: greenyellow;
    text-decoration: line-through;
}

.todoList__list__todo button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: red;
}

.todoList__list__todo .button__edit {
    color: yellow;
}

.todoList__list__todo .button__do {
    color: greenyellow;
}

.todoList__list__todo .button__do:hover {
    font-weight: bold;
}

.todoList__list__todo button:hover {
    font-weight: bold;
}

.todoEditor {
    text-align: left;
    border: 2px solid lavender;
    border-radius: 4px;
    padding: 15px;
    display: grid;
    grid-template-columns: 20fr 1fr;
    grid-column-gap: 5px;
}

.todoEditor button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: greenyellow;
}

.todoEditor button:hover {
    font-weight: bold;
}